xquery version "1.0-ml";

module  namespace cfg = "http://mr-cfg";

(: OPENCALAIS :)
(: get it here: http://www.opencalais.com/APIkey :)
declare variable $opencalais-apikey := "yoursecretkeyhere";

(: UCLASSIFY SENTIMENT API :)
(: get it here: http://www.uclassify.com/Register.aspx :)
declare variable $uclassify-read-apikey := "yoursecretkeyhere";
declare variable $uclassify-write-apikey := "yoursecretkeyhere";

(: SCREENSHOT-AS-A-SERVICE / MANET :)
(: screenshot-as-a-service url, more info here: https://github.com/fzaninotto/screenshot-as-a-service / https://github.com/vbauer/manet :)
declare variable $phantomjs-url := "http://localhost:3000/?url=";

(: DETECTLANGUAGE.COM :)
(: get it here: http://detectlanguage.com/ :)
declare variable $detectlanguage-apikey := "yoursecretkeyhere";
(: use this to check how many queries remain in the free plan :)
declare variable $detectlanguage-status-url := "http://ws.detectlanguage.com/0.2/user/status?key=" || $detectlanguage-apikey;
(: this is the api endpoint to call to get a json object with the answer :)
declare variable $detectlanguage-query-url := "http://ws.detectlanguage.com/0.2/detect";

(: MERCURY API - replacement for READABILITY API :)
(: get it here: https://mercury.postlight.com/ :)
declare variable $mercury-parser-apikey := "yoursecretkeyhere"
(: key needs to be sent via "x-api-key: ...." HTTP header, not as a query parameter :)
declare variable $mercury-parser-url := "https://mercury.postlight.com/parser?url="
